<!DOCTYPE html>
html(lang="zh-Hant")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Radio-Defense

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Yantramanav:300,400,500")
    
    link(rel="stylesheet" href="./css/style.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/plugins/CSSPlugin.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/easing/EasePack.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenLite.min.js")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.3/dat.gui.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.8.12/Tone.min.js", integrity="sha256-dkaO/q/8qkzLcxzcFH2BrIltvicuMNsmB6+ppG7dCY8=", crossorigin="anonymous")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
  body
    .container#container
      canvas#game(width="856" height="624")
      .panel#panel
        section.panel__cover#cover
          .panel__cover-img-wrapper
            img.battery(src="./img/battery.svg", alt="")
            img.logo(src="./img/R.svg", alt="")
          h1 Radio Defense
          input#player-name.shine(type="text" placeholder="Your Name...")
          button#start-btn(type="button") Start Game
          .intro
            p 你身負著運送能量電池的任務
            p 卻遭到幾何星人的埋伏
            p 快從他們手中奪回能量電池！
        section.panel__game#game-panel
          .panel__game-part-center
            .panel__game-time#game-time 00:00”
            .panel__game-alert
              p#game-crawler
            .panel__game-level#game-level
          .panel__game-part-top-right
            .panel__game-hp#hp
            .panel__game-heart-wrapper#heart-wrapper
              //- .panel__game-heart
              //- .panel__game-heart
              //- .panel__game-heart
            .panel__game-prop#prop
              img#prop__img(src="./img/heart.svg", alt="")
              p 00:<span id="prop__last-time">00</span>
          .panel__game-part-top-left
            img(src="./img/R.svg", alt="")
          .panel__game-part-bottom-right#battery-info
            img.battery(src="./img/battery.svg", alt="")
            div
              p 已回收
              p <span id="battery-num">0</span>個能量電池
          .panel__game-keyboard#keyboard
            .key-wrapper(style="margin-right: 20px;")
              .key-code S
              .key-name 射擊
            .key-wrapper
              .key-code P
              .key-name 暫停
          section.panel__game-end#game-result
            //- img(src="./img/battery.svg", alt="")
            .ranking
              .ranking__num#ranking
                img(src="./img/loading.svg", alt="loading icon")  
                //- span /&nbsp;???
              div
                button#restart-btn(type="button") Restart
                button#ranking-btn(type="button") Ranking
            .achive
              div
                .achive__num#result-boss 0
                .achive__text BOSS
              div
                .achive__num#result-battery 0
                .achive__text BATS
              div
                .achive__num#result-bullet 0
                .achive__text BULLETS
    script(src="./js/index.js")